<div class="row">
  <div class="col-10 offset-1 col-sm-8 offset-sm-2">
    <div class="list-group text-center">
      <% folders.zip(%w(primary secondary success danger warning info light dark).cycle).each do |(folder, css_class)| %>
        <a href="<%= folder_path(folder) %>" class="list-group-item list-group-item-action list-group-item-<%= css_class %> folder">
          <%= folder %>
        </a>
      <% end %>
    </div>
  </div>
</div>
