<div class="row">
  <div class="col-4 offset-4">
    <div class="list-group">
      <% folders.zip(%w(primary secondary success danger warning info light dark).cycle).each do |(folder, css_class)| %>
        <a href="<%= folder_path(folder) %>" class="list-group-item list-group-item-action list-group-item-<%= css_class %>">
          <%= folder %>
        </a>
      <% end %>
    </div>
  </div>
</div>
