<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= assets(:css) %>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>Photo Gallery</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= assets(:js) %>
    <%= content_for(:js) %>
  </body>
</html>
